.homewrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff ;
}

.formjoin{
  background: #302d2d83;
  padding: 4rem;
  border-radius: 10px;
  max-width: 90%;
  width: 40rem; 
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;                                         
}
.inpg{
  display: flex;
  flex-direction: column;
  
}
.logo{
  width: 15rem;
  height: 4rem;
  margin: 1rem;
  margin-right: auto;
}
.inpg input{
  margin: auto;
  margin-bottom: 1rem;
  width: 20rem;
  border-radius: 0.4rem;
  padding: 0.2rem;
color: black;
  background-color: #eff5ed;
  font-size: small;
  font-weight: bold;
}
.btn{
  margin-right: 2.5rem;
  width: 10rem;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-left: auto;
  margin-bottom: 1rem;
  background-color: #d72323;
  font-size: large;
  font-weight: bold;

}
.btn:hover{
  background-color: #4b0303;
}
.createrom a{
  color: rgb(8, 184, 8);
  font-weight: bold;
  font-size: larger;
}

.sideBar img{
  width: 14rem;
  margin: auto;
  border-bottom: rgba(255, 255, 255, 0.445) solid;
  padding: 0.5rem;
}

.meditor{
  height: 100vh;
  display: grid;
  grid-template-columns: 18rem 1fr;
}

.codeditor{
  display: block;
}


.UserA{
  align-items: center;
}


.btng .copy{
    color: black;
}
.lave{
  background-color: #d72323;
}

.CodeMirror{
  height: 100vh !important;
}
